<suite name="ToDoLoginSuite">
  <test name="LoginTestCases">
    <classes>
    	<!--<class name="testCases.LoginTest"/>> 
      	<class name="testCases.DashboardTest"/>
  			<class name="testCases.CreateTaskTest"/>-->
      	<class name="testCases.TaskUpdateDetailsTest">
      
      	</class>
    </classes>
  </test>
</suite>
